.main {
  /* max-width: 922px; */
  width: 100%;
  /* margin: 0 auto; */
  margin-bottom: 30px;
}

.main__box{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
    margin: 0 auto;
}

@media (max-width: 1200px) {
  .main__box {
    margin: 0 50px;
  }
}

@media (max-width: 768px) {
  .main__box {
    margin: 0 auto;
    max-width: 668px;
  }
}

@media (max-width: 708px) {
  .main__box {
    margin: 0 20px;
    /* padding: 20px; */
    /* max-width: 668px; */
  }  
}