.portfolio {
  display: grid;
  grid-template-columns: minmax(min-content, 600px) auto;
  grid-template-rows: auto auto auto auto;
  justify-items: start;
  column-gap: 30px;
}

.portfolio__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  color: #566F7D;
}

.portfolio__about {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #566F7D;
}

.portfolio__info {
  max-width: 600px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #566F7D;
}

.portfolio__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
  align-self: end
}

.portfolio__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.portfolio__photo{
  grid-column-start: -1;
  grid-column-end: -2;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 292px;
  justify-self: end;
  border-radius: 10px;
}



@media (max-width: 768px) {
  .portfolio {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
  }

  .portfolio__photo{
    grid-row-start: 1;
    grid-row-end: 2;
    width: 280px;
    justify-self: center;
    border-radius: 10px;
  }

  .portfolio__name{
    margin-top: 20px;
    font-size: 40px;
    line-height: 40px;
  }
  
  .portfolio__about{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
  }

  .portfolio__info{
    font-size: 11px;
    line-height: 16px;
  }
}

@media (max-width: 320px) {
  
}