.projects{
  width: 100%;
  max-width: 1100px;

}

.projects__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  color: #566F7D;
  text-align: center;
  margin-bottom: 30px;
}

.projects__list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin: 0 auto;
}

@media (max-width: 1110px){
  .projects__list{
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}


@media (max-width: 768px){
  .projects__list{
    grid-template-columns:  auto;
    gap: 32px;
  }
  .projects__title{
    font-size: 40px;
    line-height: 40px;
  }
}