.progect-card{
  background: #FFFFFF; 
  border: 2px solid #FFFFFF;
  box-shadow: 9px 5px 13px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  display: grid;
}

.progect-card:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.progect-card:active {
  transform: scale(0.97);
}

.progect-card__img{
  height: calc((91px + 91px + 57px)*0.76);
  align-self: center;
  justify-self: center;
}

.progect-card__img_false{
  width: 100%;
  background-image: url('../../images/noneImage.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.progect-card__info{
  background: #566F7D;;
  display: grid;
  border-radius: 0 0 12px 12px;
  grid-template-columns: calc(179px * 0.76) calc(230px * 0.76);
  justify-items: center;
  align-items: center;
  height: calc(56px);
}

.progect-card__title{
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.003em;
  margin: 0;
}

.progect-card__about{
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.003em;
  margin: 0
}

